{% extends "base.html" %}

{% block content %}
<div class="registro_container">
    <a href="{{ url_for('index') }}">← Voltar</a>



    <!-- Tabela de registros -->
    <table border="1">
        <h1>Seus registros</h1>
        <thead>
            <tr>
                <th>DATA V</th>
                <th>HARDWARE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>REG_1</td>
                <td>"MODELO" 🟢</td>
            </tr>
            <tr>
                <td>REG_2</td>
                <td>"MODELO" 🟢</td>
            </tr>
            <tr>
                <td>REG_3</td>
                <td>"MODELO" 🔴</td>
            </tr>
            <tr>
                <td>REG_4</td>
                <td>"MODELO" 🟢</td>
            </tr>
            <tr>
                <td>REG_5</td>
                <td>"MODELO" 🟡</td>
            </tr>
            <tr>
                <td>REG_6</td>
                <td>"MODELO" 🔴</td>
            </tr>
            <tr>
                <td>REG_7</td>
                <td>"MODELO" 🟡</td>
            </tr>
            <tr>
                <td>REG_8</td>
                <td>"MODELO" 🟢</td>
            </tr>
            <tr>
                <td>REG_9</td>
                <td>"MODELO" 🟡</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
